/* Файл обнуляющих стилей */
@import url(../css/reset.css);
@import url(../css/media.css);

/* Переменные цвета */
:root {
  --main-color: #323264;
  --alt-color: #46466e;
  --soft-color: #686887;
  --accent-color: #f0145a;
  --regular-color: #24a3ff;
  --hover-color: #0085ff;
  --active-color: #006ccf;
  --bg-color: #f5f5fa;
  --bg-alt-color: #ededf7;
  --gray-text-color: #b3b3ba;
  --separator-color: #e6e6f0;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.end {
  justify-content: flex-end;
}

.center {
  align-items: center;
}

.column {
  flex-direction: column;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--main-color);
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1600px;
  padding: 0 15px;
}

.small-container {
  width: 100%;
  margin: 0 auto;
  max-width: 1330px;
  padding: 0 15px;
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template: minmax(66px, auto) 1fr minmax(139px, auto) / 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.header {
  grid-area: header;
  margin-top: 50px;
  margin-bottom: 60px;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

/*---------------- HEADER---------------- */
.grid {
  display: grid;
  grid-row-gap: 18px;
  /* grid-template-columns: 1fr 0.6fr; */
  grid-template-areas:
    "a b"
    "a c";
}

.header-logo {
  grid-area: a;
  justify-self: start;
}

.right-head-wrap {
  align-self: baseline;
  grid-area: b;
  justify-self: end;
}

.basement-nav {
  grid-area: c;
  justify-self: end;
}

.slash {
  margin: 0 4px;
}

.team {
  /* align-self: flex-start; */
  font-size: 36px;
  line-height: 1.23;
  letter-spacing: 3px;
}

input[type="radio"] {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
}

input + span {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  border-radius: 8px;
  padding: 5px 7px;
  transition: all 0.2s linear;
}

input:hover + span {
  background-color: var(--bg-color);
}

input:checked + span {
  background-color: var(--accent-color);
  color: aliceblue;
}

.point {
  margin: 0 6px;
  color: var(--separator-color);
}

.right-head-wrap {
  color: var(--gray-text-color);
}

.tell {
  font-weight: 700;
}

svg.fb-icon-head {
  margin-bottom: -5px;
}

.fb-icon-head:hover path {
  fill: var(--accent-color);
  transition: all 0.2s linear;
}

.basement-nav > a {
  font-size: 18px;
  font-weight: 700;
  color: var(--regular-color);
  border-bottom: 2px solid transparent;
  transition: all 0.2s linear;
}

.basement-nav > a + a {
  margin-left: 15px;
}

.basement-nav > a:hover,
a.visited {
  color: var(--accent-color);
  border-bottom-color: var(--accent-color);
}

/*---------------- MAIN---------------- */

.main-title {
  font-weight: 700;
  font-size: 38px;
  line-height: 1.22;
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 60px;
}

.cards {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  gap: 60px;
}

img {
  max-height: 400px;
  min-width: 493px;
  object-fit: cover;
  object-position: center;
}

.text-area {
  margin-top: 15px;
}

.text-area h4 {
  font-weight: 700;
}

.text-area p {
  font-size: 14px;
  line-height: 1.6;
  color: var(--gray-text-color);
}

.card a:hover .text-area {
  color: var(--accent-color);
}

.card a:hover path {
  stroke: var(--accent-color);
  transition: all 0.2s linear;
}

.card img {
  border-radius: 12px;
  min-height: 400px;
}

.cards {
  margin-bottom: 60px;
}

/*---------------- FOOTER---------------- */

.grid-foot {
  display: grid;
  grid-row-gap: 20px;
  grid-template-areas:
    "one three"
    "two three";
}

.left-foot {
  grid-area: one;
  justify-self: start;
}

.hlegal {
  grid-area: three;
  justify-self: end;
}

.under-lfoot {
  grid-area: two;
}

.foot-point {
  margin: 0 10px;
  color: var(--gray-text-color);
}

.left-foot a {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 1px;
  color: var(--regular-color);
}

.foot-mail {
  color: var(--regular-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
}

.hlegal {
  color: var(--gray-text-color);
}

.under-lfoot a:hover path {
  fill: var(--accent-color);
}

.foot-mail:hover {
  color: var(--accent-color);
}

.footer {
  background-color: var(--bg-color);
  padding-top: 30px;
}
