/* Файл обнуляющих стилей */
@import url(../css/reset.css);

/* Переменные цвета */
:root {
  --main-color: #323264;
  --alt-color: #46466e;
  --soft-color: #686887;
  --accent-color: #f0145a;
  --regular-color: #24a3ff;
  --hover-color: #0085ff;
  --active-color: #006ccf;
  --bg-color: #f5f5fa;
  --bg-alt-color: #ededf7;
  --gray-text-color: #b3b3ba;
  --separator-color: #e6e6f0;
}

.flex {
  display: flex;
}

.center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--main-color);
  overflow-x: hidden;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1630px;
  padding: 0 15px;
}

.small-container {
  width: 100%;
  margin: 0 auto;
  max-width: 1390px;
  padding: 0 15px;
}

.container-sld {
  width: 100%;
  margin: 0 auto;
  max-width: 1750px;
  padding: 0 15px;
}

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template: minmax(66px, auto) 1fr minmax(139px, auto) / 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.header {
  grid-area: header;
  margin-top: 50px;
  margin-bottom: 60px;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

.mt60 {
  margin-top: 80px;
}

.mb60 {
  margin-bottom: 60px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb15 {
  margin-bottom: 15px;
}

.gradient-h2 {
  font-weight: 700;
  font-size: 38px;
  line-height: 1.22;
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.item-p {
  margin: 30px 0 5px 0;
}

a.serveces-arrow {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.22;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--regular-color);
}

.serveces-arrow::after,
.item-p::after {
  content: url(../images/icons/service_arrow.svg);
  width: 4.5px;
  height: 9px;
  margin-left: 5px;
}

.serveces-arrow:hover {
  color: var(--accent-color);
}

.serveces-arrow:hover::after {
  content: url(../images/icons/red-service-arrow.svg);
}
