/* Desktop SD */

@media screen and (max-width: 1700px) {
  .container {
    max-width: 1350px;
  }

  .small-container {
    max-width: 1110px;
  }

  .container-sld {
    margin: 0 auto;
    max-width: none;
    padding: 0;
  }

  div.partners-grid {
    border-radius: 0;
  }

  img.bottom-img {
    max-width: 420px;
  }

  div.photo-sld img {
    height: 344px;
    /* border-radius: 0; */
  }

  div.partners-grid {
    margin-bottom: 0;
  }
}

/* Tablet HD */

@media screen and (max-width: 1350px) {
  .container,
  .small-container {
    max-width: 934px;
  }

  img.bottom-img {
    max-width: 281px;
  }

  div.photo-sld img {
    height: 528px;
    /* border-radius: 0; */
  }

  section.section-banner {
    background: url(../images/img/Symbol.png) no-repeat center/cover;
  }
}

/* Tablet SD */

@media screen and (max-width: 1000px) {
  .container,
  .small-container {
    max-width: 678px;
    padding: 0;
  }

  .head-wrap {
    grid-template-areas:
      "b"
      "a"
      "c";
  }

  .header-logo {
    grid-area: a;
    justify-self: start;
  }

  .right-head-wrap {
    grid-area: b;
    justify-self: start;
  }

  .basement-nav {
    grid-area: c;
    justify-self: start;
  }

  .contact-wraper {
    flex-direction: column;
  }

  .left-contact-column,
  .right-contact-column {
    width: 100%;
  }

  #bs-parent {
    flex-direction: column;
  }

  .nav {
    padding: 60px 0;
    border-bottom: 4px solid rgba(255, 255, 255, 0.3);
    border-right: none;
  }

  .tab-pane h3 {
    margin-top: 60px;
  }

  #bs-child {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    overflow-y: scroll;
  }

  div.tickets {
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  }

  .sld-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  #mySlide {
    border-radius: 12px;
  }

  div.photo-sld img {
    width: 648px;
    height: 500px;
    /* border-radius: 0; */
  }

  .item-content {
    margin-bottom: 30px;
    padding: 0 30px;
  }

  h2.item-h2 {
    max-width: 515px;
  }

  div.partners-grid {
    grid-template: repeat(4, 1fr) / repeat(3, 1fr);
  }

  div.bottom-block {
    grid-template-areas:
      "one two"
      "three three";
    gap: 30px;
  }

  img.three-bot.bottom-img {
    min-width: 648px;
  }

  img.bottom-img {
    max-width: 309px;
  }

  .grid-foot {
    display: grid;
    grid-row-gap: 20px;
    grid-template-areas:
      "one"
      "two"
      "three";
  }

  .left-foot {
    grid-area: one;
    justify-self: center;
  }

  .hlegal {
    grid-area: three;
    justify-self: center;
    margin-bottom: 30px;
  }

  .under-lfoot {
    grid-area: two;
    justify-self: center;
  }
}

/* For medium screens */

@media screen and (max-width: 611px) {
  .header {
    padding-top: 12px;
    padding-bottom: 10px;
    margin-top: 0;
    position: relative;
    background-color: var(--bg-color);
  }

  .container,
  .small-container {
    max-width: 551px;
    padding: 0 15px;
  }

  a.mech,
  span.point,
  svg.fb-icon-head,
  .basement-nav {
    display: none;
  }

  .head-wrap {
    display: flex;
    flex-direction: column-reverse;
  }

  .header-logo {
    position: absolute;
    top: 65px;
    left: 20px;
  }

  .right-head-wrap {
    display: grid;
    grid-template-columns: 99px 97px;
    justify-content: space-between;
  }

  .logo {
    width: 70px;
    height: 32px;
  }

  .slash {
    width: 12px;
    height: 26px;
  }

  .team {
    font-size: 20px;
  }

  .main {
    margin: 30px 0;
  }

  .contact-wraper {
    gap: 30px;
  }

  .left-foot,
  .hlegal,
  .under-lfoot {
    display: grid;
    justify-items: center;
  }

  .under-lfoot svg {
    width: 38px;
    height: 38px;
  }

  .foot-point {
    display: none;
  }

  a.tell {
    margin-bottom: 10px;
  }

  .hlegal {
    margin-bottom: 30px;
  }

  .navbar {
    display: flex;
  }

  .checkbox {
    position: absolute;
    top: 5px;
    right: -370px;
    width: 32px;
    height: 32px;
    opacity: 0;
    z-index: 3;
  }

  .burger {
    width: 32px;
    height: 32px;
    position: relative;
    z-index: 2;
  }

  .burger span {
    display: inline-block;
    width: 18px;
    height: 2px;
    background-color: #323264;
    position: absolute;
    left: 370px;
    top: 5px;
    opacity: 1;
    transition: all 0.2s linear;
  }

  .burger span:first-child {
    top: 10px;
  }

  .burger span:nth-child(2),
  .burger span:nth-child(3) {
    top: 16px;
  }

  .burger span:last-child {
    top: 22px;
  }

  .checkbox:checked + .burger span:first-child {
    top: -15px;
    opacity: 0;
  }
  .checkbox:checked + .burger span:nth-child(2) {
    transform: rotate(45deg);
  }
  .checkbox:checked + .burger span:nth-child(3) {
    transform: rotate(-45deg);
  }
  .checkbox:checked + .burger span:last-child {
    top: 42px;
    opacity: 0;
  }
}

@media screen and (max-width: 570px) {
  .container,
  .small-container {
    max-width: 510px;
    padding: 0 15px;
  }

  .checkbox {
    right: -320px;
  }

  .burger span {
    left: 320px;
  }
}

@media screen and (max-width: 520px) {
  .container,
  .small-container {
    max-width: 460px;
    padding: 0 15px;
  }

  .checkbox {
    right: -270px;
  }

  .burger span {
    left: 270px;
  }
}

@media screen and (max-width: 500px) {
  .container,
  .small-container {
    max-width: 440px;
    padding: 0 15px;
  }

  .checkbox {
    right: -240px;
  }

  .burger span {
    left: 240px;
  }
}

@media screen and (max-width: 440px) {
  .container,
  .small-container {
    max-width: 380px;
    padding: 0 15px;
  }

  .checkbox {
    right: -210px;
  }

  .burger span {
    left: 210px;
  }
}

@media screen and (max-width: 410px) {
  .container,
  .small-container {
    max-width: 350px;
    padding: 0 15px;
  }

  .checkbox {
    right: -165px;
  }

  .burger span {
    left: 165px;
  }
}
