html {
  font-family: "Roboto", sans-serif;
  color: #090088;
}

body {
  font-size: 20px;
  padding: 5rem;
  background-color: #fffff2;
}

caption {
  font-weight: 700;
}

th,
td {
  padding: 0.25rem;
}

table {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.month {
  outline: 1px solid;
  outline-offset: 1px;
}

.main-table {
  border: 1px solid;
}

.th:first-child,
.td:first-child {
  background-color: #ffdc73;
}
