* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #000;
}

.header {
  background: #eeeff1;
}

.container {
  background: #eeeff1;
  height: 700px;
  padding-top: 79px;
  max-width: 1110px;
  margin: 0 auto;
}

.nav {
  margin-bottom: 145px;
}

a {
  margin-right: 38px;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: #000;
  line-height: 26px;
  font-weight: 500;
}

.header-title {
  margin-bottom: 34px;
  font-weight: 500;
  font-size: 48px;
  line-height: 79px;
}

p {
  color: #727272;
  line-height: 26px;
  margin-bottom: 57px;
}

.button {
  display: block;
  width: 225px;
  height: 65px;
  padding: 5px 31px 10px;
  background-color: #34547a;
  font-family: "Roboto", sans-serif;
  color: white;
  letter-spacing: 0.1em;
  font-size: 16px;
  line-height: 26px;
}

.about-me {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.head2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  padding-top: 115px;
  margin-bottom: 40px;
}

.text {
  padding-bottom: 35px;
}

.cards {
  background-color: #34547a;
  padding-top: 98px;
  padding-bottom: 98px;
}

.icon-text {
  margin-right: 40px;
  display: inline-block;
}

.abr {
  float: right;
  padding-left: 20px;
  text-align: left;
}

.card-p {
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 0;
}

.wite-head {
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  color: white;
}

iframe {
  margin-bottom: 100px;
}

.footer {
  background-color: #34547a;
}

.bottom {
  display: block;
  background-color: #34547a;
  height: 151px;
  color: white;
  max-width: 1110px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.head3 {
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  margin-bottom: 10px;
}

.footer-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: white;
  margin-bottom: 0;
}
