* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #c4c4c4;
}

.box {
  background-color: #e6e6e6;
  margin: 50px;
}
.square {
  display: block;
  width: 200px;
  height: 200px;
  background-color: #fc8f8f;
}

.clear {
  display: block;
  clear: both;
}

.square-small {
  display: block;
  width: 100px;
  height: 100px;
  background-color: #fc8f8f;
}

.float-right {
  float: right;
  margin-left: 1rem;
}

.float-left {
  float: left;
  margin-right: 1rem;
}

.float-left1 {
  float: left;
  margin-left: 1rem;
}

div {
  font-size: 64px;
  text-align: center;
  color: white;
}
